.main-wrapper {
  background: linear-gradient(
      196deg,
      rgba(20, 54, 224, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 25%
    ),
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  background-color: var(--bluegradient);
  height: 100%;
  box-sizing: border-box;
}

.content {
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 2%;
  height: 100%;
  box-sizing: border-box;
}

.sidebar-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.it-work {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .sidebar-image {
    display: none;
  }

  .content {
    padding-top: 24px;
  }
}

.secondary-text {
  color: #666666;
  font-size: 16px;
}

.sidebar-image {
  width: 50%;
}