.main-wrapper {
  background: linear-gradient(
      196deg,
      rgba(20, 54, 224, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 25%
    ),
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 100%
  );
  background-color: var(--bluegradient);
  box-sizing: border-box;
  height: 100%;
}

.content {
  box-sizing: border-box;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.sidebar-image {
  align-items: center;
  display: flex;
  justify-content: center;
}

.it-work {
  height: auto;
  max-width: 100%;
}

.secondary-text {
  color: #666666;
  font-size: 16px;
}

.sidebar-image {
  display: none;
  width: 50%;
}

.additional-text {
  font-size: 24px;
}

.abonents-page, .addresses-page, .profile-page, .main-page, .switchers-page, .tasks-page {
  padding-bottom: 60px;
  padding-top: 10px;
}

@media screen and (min-width: 480px) {
  .content {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .abonents-page, .addresses-page, .profile-page, .main-page, .switchers-page, .tasks-page {
    padding: 10px;
    padding-bottom: 20px;
    margin-top: 20px;
  }

  .content {
    padding-left: 60px;
    padding-right: 60px;
  }

  .sidebar-image {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .abonents-page, .addresses-page, .profile-page, .main-page, .switchers-page, .tasks-page {
    padding: 20px;
  }
}