.headline-tmpk {
    justify-content: center;
}  

.tmpk-text {
    display: none !important;
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    .authorized-logo {
        display: none !important;
    }    

    .headline-tmpk {
        justify-content: flex-start;
    }  

    .tmpk-text {
        display: block !important;
    }    
}

@media screen and (min-width: 1024px) {
    .tmpk-text {
        font-size: 22px;
    }
}

@media screen and (min-width: 1200px) {
    .tmpk-text {
        font-size: 28px;
    }
}

.tmpk-text {
    color: #1436E0;
    text-transform: uppercase;
}

.headline-tmpk {
    display: flex;
    gap: 16px;
}