.sign-in-page {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    margin: auto;
}
  
.sign-in__message {
    text-align: center;
    margin-bottom: 24px;
}
  
.main-message {
    font-size: 28px;
    font-weight: bold;
    color: #000;
}
  
.additional-message {
    font-size: 18px;
    color: #888;
}
  
.sign-in__inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
  
.email-input,
.password-input {
    display: flex;
    flex-direction: column;
}
  
.label {
    font-size: 14px;
    margin-bottom: 4px;
  }

.sign-in__inputs input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}
  
.additionally {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #000;
}
  
.forgot-password {
    color: #1436E0;
    cursor: pointer;
}
  
.buttons {
    margin-top: 16px;
}
  
.button-sign-in {
    background-color: #1436E0;
    color: white;
    text-align: center;
    padding: 14px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
  
.to-sign-up {
    text-align: center;
    margin-top: 16px;
    font-size: 14px;
}
  
.to-sign-up::after {
    content: " ";
}
  
.to-sign-up + .to-sign-up__link {
    text-align: center;
    margin-top: 4px;
    color: #1436E0;
    cursor: pointer;
    font-weight: 500;
}
  
@media screen and (min-width: 1024px) {
    .sign-in {
      margin-left: 5%;
      margin-top: 10%;
    }
}

@media screen and (max-width: 768px) {
    .sign-in {
      width: 100%;
      padding: 20px;
    }
  
    .main-message {
      font-size: 20px;
    }
  
    .additional-message {
      font-size: 14px;
    }
  
    .button-sign-in {
      padding: 12px;
    }
}
  